@media only screen and (min-width: 768px){
  .dataset{
      width: 10vw;
      height: 10vw;
      border-radius: 1vw;
      background-color: rgb(40, 40, 40);
      display: inline-flex;
      align-items: center;
      justify-content: center;
      transition: ease-out 0.5s;
      overflow: hidden;
      text-align: center;
      margin-right: 0.75vw;
  }
  .dataset:hover{
      filter: brightness(1.25);
      cursor: pointer;
  }
  .dataset h3{
      color: white;
      font-weight: 750;
  }
  #datgui-header{
    display: flex;
    align-items: center;
  }
  #datgui{
      position: absolute;
      width: 100vw;
      height: 100vh;
      display: none;
      z-index: 2;
      background-color: var(--gui-bg-color);
      transition: 0.1s;
      padding: 1vh 1vw 1vh 1vw;
  }
  #datgui-title{
    display: inline;
    margin-left: 0.75vw;
    animation: golden 5s infinite;
  }
  #datgui-title:hover{
    cursor: pointer;
  }
  #add, #analyzer, #export{
      display: none;
  }
  #exit{
    width: 1vw;
    height: 1vw;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  #exit img{
    width: 1vw;
    height: 1vw;
    transition: 0.2s;
  }

  #exit:hover img{
    filter: brightness(1.25);
    cursor: pointer;
    width: 1.1vw;
    height: 1.1vw;
  }
  #view-buttons{
    display: inline;
    margin-left: 0.75vw;
  }
  .view-btn{
    display: inline;
    height: 3vh;
    width: 4vw;
    border-radius: 0.5vw;
  }
  table{
    border: 1px solid black;
    border-collapse: collapse;
  }
  td{
    border: 1px solid black;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
    text-align: center;
  }
  th{
    border: 1px solid black;
    padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  }
  td:hover{
      background-color: #afafaf;
  }
  th:hover{
      background-color: #afafaf;
  }
  /* Remove default bullets */
  ul, #myUL {
      list-style-type: none;
      font-size: 1vw;
  }
    
  #myUL {
    margin: 0;
    padding: 0;
  }
    
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
    
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
    
  .caret-down::before {
    transform: rotate(90deg);
    animation: golden 3s infinite;
    transition: 0.1s;
  }

  .nested {
    display: none;
  }
    
  .active {
    display: block;
  }
  .add-btn, .edit-btn{
    align-items: center;
    justify-content: center;
    border-radius: 0.5vw;
    background-color: var(--gui-bg-color);
    border: none;
    transition: 0.2s;
  }
  .add-btn{
    display: flex;
    width: 2vw;
    height: 2vw;
    font-size: 2vw;
  }
  .edit-btn{
    display: inline-flex;
    width: 1.5vw;
    height: 1.5vw;
    font-size: 1vw;
  }
  .add-btn:hover, .edit-btn:hover{
    filter: brightness(1.25);
  }
}

@media only screen and (max-width: 768px) {
  .dataset{
    width: 10vw;
    height: 10vw;
    border-radius: 1vw;
    background-color: rgb(40, 40, 40);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: ease-out 0.5s;
    overflow: hidden;
    text-align: center;
    margin-right: 0.75vw;
}
.dataset:hover{
    filter: brightness(1.25);
    cursor: pointer;
}
.dataset h3{
    color: white;
    font-weight: 750;
}
#datgui-header{
  display: flex;
  align-items: center;
}
#datgui{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: none;
    z-index: 2;
    background-color: var(--gui-bg-color);
    transition: 0.1s;
    padding: 1vh 1vw 1vh 1vw;
}
#datgui-title{
  display: inline;
  margin-left: 0.75vw;
  animation: golden 5s infinite;
}
#datgui-title:hover{
  cursor: pointer;
}
#add, #analyzer, #export{
    display: none;
}
#view-buttons{
  display: inline;
  margin-left: 0.75vw;
}
.view-btn{
  display: inline;
  height: 3vh;
  width: 10vw;
  border-radius: 1vw;
}
table{
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  border: 1px solid black;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
  text-align: center;
}
th{
  border: 1px solid black;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}
td:hover{
    background-color: #afafaf;
}
th:hover{
    background-color: #afafaf;
}
/* Remove default bullets */
ul, #myUL {
    list-style-type: none;
    font-size: 3vw;
}
  
#myUL {
  margin: 0;
  padding: 0;
  font-size: 3vw;
}
  
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}
  
.caret::before {
  content: "\25B6";
  color: black;
  display: inline-block;
  margin-right: 6px;
}
  
.caret-down::before {
  transform: rotate(90deg);
  animation: golden 3s infinite;
  transition: 0.1s;
}

.nested {
  display: none;
}
  
.active {
  display: block;
}
.add-btn, .edit-btn{
  align-items: center;
  justify-content: center;
  border-radius: 0.5vw;
  background-color: var(--gui-bg-color);
  border: none;
  transition: 0.2s;
}
.add-btn{
  display: flex;
  width: 5vw;
  height: 5vw;
  font-size: 5vw;
}
.edit-btn{
  display: inline-flex;
  width: 4vw;
  height: 4vw;
  font-size: 3vw;
}
.add-btn:hover, .edit-btn:hover{
  filter: brightness(1.25);
}
#exit{
  width: 3vw;
  height: 3vw;
  background-color: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: none;
}
#exit img{
  width: 3vw;
  height: 3vw;
  transition: 0.2s;
}

#exit:hover img{
  filter: brightness(1.25);
  cursor: pointer;
  width: 3.1vw;
  height: 3.1vw;
}
}