#app {
    display: flex;
    flex-direction: column;
    height: 110vh;
    width: 100vw;
    background-color: var(--bg-color);
    color: var(--text-color);
}
  
#app_header {
    border-bottom: var(--border-col-primary) 1px solid;
    display: flex;
    width: 100vw;
    height: 8vh;
    padding-left: 1vw;
    align-items: center;
}

#app_header_left {
  display: flex;
  align-items: center;
  width: 11vw;
  height: 100%;
  border-right: var(--border-col-primary) 1px solid;
  overflow: hidden;
}
  
#app_header_left h1 {
  margin-left: 1vw;
  font-size: 1.3vw;
  font-weight: 10;
}
  
#app_header_right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 8vw;
  height: 100%;
  border-left: var(--border-col-primary) 1px solid;
  margin-left: auto;
  padding-right: 1.5vh;
}

#app_tab_header {
  margin-left: 1vw;
}
  
  #app_header_right h3 {
    font-size: 0.9em;
  }
  
  #app_content {
    display: flex;
  }
  
  #app_sidebar {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 90vh;
    border-right: var(--border-col-primary) 1px solid;
  }
  
  .app_sidebar_button {
    background-color: transparent;
    border: none;
    transition: 0.25s;
    width: 90%;
    height: 5vh;
    margin-top: 1vh;
    border-radius: 0.7vh;
    border: 1px solid var(--border-col-primary);
  }
  
  .app_sidebar_button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  #scout_button {
    background-color: rgba(255, 196, 1, 0.75);
    border: 1px solid rgb(255, 196, 1);
  }
  
  #app_panel {
    display: inline-flex;
    flex-direction: column;
    width: 80vw;
    padding-left: 1vw;
  }

  /* dashboard */
  #dashboard_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 9vh;
    flex-direction: row;
    width: 85vw;
  }

  #dashboard_welcome {
    color: gray;
    display: inline-flex;
    height: 3vh;
    width: 20vw;
  }

  #dashboard_searchBar {
    display: inline-flex;
    height: 5vh;
    border-radius: 1vh;
    width: 13vw;
  }

  #dashboard_statsDisplay {
    display: flex;
    flex-direction: row;
    background-color: var(--box-col-primary);
    border-radius: 3vh;
    border: 1px solid var(--border-col-primary);
    width: 85vw;
    height: 15vh;
    align-items: center;
  }

  .dashboard_statWidget {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 12vw;
    height: 12vh;
    background-color: rgb(40, 40, 40);
    border-radius: 2.5vh;
    margin-left: 1vw;
  }

  .dashboard_statWidget:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  #dashboard_flex_container {
    display: flex;
    flex-direction: row;
    width: 90vw;
  }

  #dashboard_activity, #dashboard_inbox {
    display: inline-flex;
    flex-direction: column;
    margin-top: 2vh;
    background-color: var(--box-col-primary);
    border-radius: 3vh;
    border: 1px solid var(--border-col-primary);
    height: 70vh;
    width: 25vw;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: 1s ease;
  } 

  #dashboard_inbox {
    margin-left: 31vw;
  }

  #dashboard_activity:hover, #dashboard_inbox:hover {
    background-color: var(--box-col-secondary);
  }

  #dashboard_activity_report_button {
    height: 5vh;
    background-color: var(--box-col-secondary);
    border: 1px solid var(--border-col-primary);
    border-radius: 1vh;
    transition: 0.25s ease;
  }

  #dashboard_activity_report_button:hover {
    border: 1px solid white;
  }

  /* calendar */
  #calendar {
    display: flex;
    flex-direction: row;
  }

  #calendar_grid {
    display: inline-flex;
    flex-direction: column;
    width: 49vw;
  }

  #calendar_grid_header {
    display: flex;
    flex-direction: row;
    width: 49vw;
    height: 5vh;
    justify-content: space-between;
  }

  .calendar_grid_header_cell {
    display: inline-flex;
    border: 1px solid var(--border-col-primary);
    width: 7vw;
    height: 5vh;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.025);
  }

  .calendar_grid_header_cell:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }

  #calendar_grid_row {
    display: flex;
    flex-direction: row;
  }

  .calendar_grid_cell {
    display: inline-block;
    border: 1px solid var(--border-col-primary);
    width: 7vw;
    height: 7vw;
    overflow: hidden;
  }

  .calendar_grid_cell:hover {
    background-color: rgba(255, 255, 255, 0.01);
  }

  .day {
    color: rgb(49, 49, 49);
    display: flex;
    margin-left: 0.3vw;
    margin-top: 0.3vw;
  }

  .calendar_event {
    display: flex;
    flex-direction: column;
    border-radius: 0.5vw;
    padding: 0.5vw;
    margin: 0.5vw;
    width: 5vw;
    height: 0.8vh;
    font-size: 0.5vw;
    font-weight: 10;
  }

  .calendar_event:hover {
    cursor: pointer;
  }

  .event_gray {
    background-color: rgba(43, 43, 43, 0.5);
    border: 1px solid rgb(60, 60, 60);
    color: white;
  }

  .event_red {
    background-color: rgba(255, 103, 103, 0.288);
    border: 1px solid rgb(255, 65, 65);
    color: rgb(255, 177, 177);
  }

  .event_pink {
    background-color: rgba(250, 103, 255, 0.288);
    border: 1px solid rgb(211, 65, 255);
    color: rgb(246, 177, 255);
  }

  #calendar-container {
    display: inline-flex;
    flex-direction: column;
  }

  #calendar_grid_months {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 49vw;
  }
  
  #calendar_month {
    width: 9vw;
  }

  .calendar_month_changer {
    height: 1vw;
    margin-left: 1vw;
    border-radius: 0.5vw;
    border: 1px solid var(--border-col-primary);
    background-color: transparent;
    transition: 0.5s ease;
  }

  #calendar_schedule_event {
    margin-left: auto;
    background-color: transparent;
    border: 1px solid var(--border-col-primary);
    width: 5vw;
    height: 3vh;
    border-radius: 1vh;
    transition: 0.5s ease;
  }

  #calendar_schedule_event:hover {
    background-color: rgba(255, 255, 255, 0.1);
    cursor: pointer;
  }

  .calendar_month_changer:hover {
    background-color: var(--box-col-secondary);
  }

  #calendar_event_viewer {
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.025);
    margin-left: auto;
    margin-left: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 20vw;
  }

  /* tasks */
  #tasks_all {
    display: inline-flex;
    flex-direction: column;
    width: 16vw;
  }

  #tasks_all_header {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .tag {
    width: auto;
    height: 2vh;
    display: inline-flex;
    background-color: rgba(255, 255, 255, 0.03);
    padding: 0.5vh;
    font-size: 1vh;
    margin-right: 0.5vw;
    align-items: center;
    justify-content: center;
    border-radius: 0.5vh;
  }

  #strong {
    font-weight: 750;
  }

  #create_new_task {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2vw;
    width: 2vw;
    margin-left: 1vw;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
    border-radius: 0.25vw;
  }

  .task {
    height: 10vh;
    width: 15vw;
    border: 1px solid var(--border-col-primary);
    display: flex;
    flex-direction: column;
    padding-left: 1vw;
    border-radius: 1vw;
    overflow-y: hidden;
    transition: 0.25s ease;
    margin-top: 1vh;
    background-image: radial-gradient(rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.01));
    background-size: 20vw 20vh;
    background-position-y: 0;
    background-repeat: no-repeat;
  }

  .task:hover {
    background-color: rgba(255, 255, 255, 0.02);
    border: 1px solid var(--border-col-secondary);
  }

  #tasks_assigned {
    display: inline-flex;
    flex-direction: column;
    margin-left: 1vw;
    width: 16vw;
  }

  #task_viewer {
    display: inline-flex;
    flex-direction: column;
    margin-left: auto;
    margin-left: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    width: 30vw;
    background-color: rgba(255, 255, 255, 0.02);
    height: 100vh;
  }

  #new_progress_report {
    height: 5vh;
    width: 100%;
    border-radius: 1vh;
    background-color: transparent;
    border: 1px solid var(--border-col-primary);
    transition: 0.5s ease;
  }

  #new_progress_report:hover {
    background-color: rgba(255, 255, 255, 0.02);
  }

  .progress_report {
    border: 1px solid var(--border-col-primary);
    border-radius: 1vh;
    height: 10vh;
    width: 96.5%;
    padding-left: 1vw;
    margin-top: 1vh;
  }

  /* scout */
  #datasets {
    display: flex;
    flex-direction: row;
  }
 .dataset {
    display: inline-flex;
    flex-direction: row;
  }

 .dataset {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(30, 30, 30);
    border: 1px solid var(--border-col-primary);
    font-size: 1vw;
    width: 10vw;
    height: 10vw;
    border-radius: 1.5vw;
    transition: 0.25s ease;
    overflow: hidden;
    margin-right: 1vw;
 }

 .dataset #add_dataset {
    font-size: 7vw;
    font-weight: 1;
    color: gray;
 }

 .dataset:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
 }