@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

#imgContainer {
  width: 50vw;
  height: 100vh;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}

#formContainer {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  color: black;
  width: 50vw;
  height: 100vh;
}

#stepCounter {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: auto;
  height: 5vh;
  margin-top: 3vh;
  margin-left: 2vw;
  color: black;
  font-size: 1vw;
}

#welcomeContainer {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  width: auto;
  height: 10vh;
  margin-top: 15vh;
}

#welcomeContainer h2 {
  color: black;
  font-size: 2vw;
  font-weight: bold;
}

#welcomeContainer h3 {
  margin-top: -2.5vh;
  color: #635D5D;
  font-size: 1vw;
}

.loginInput {
  font-size: 1vw;
  height: 8vh;
  width: 25vw;
  background: none;
  border : 0.25vh solid #7F7676;
  border-radius: 0.60vw;
  position: absolute;
  left: 5vw;
  top: calc(35vh);
  transition: 0.5s;
  padding-left: 1vw;  
  color: #7F7676;
}


.loginInput:focus {
  outline: none;
  border: 2px solid #2D71F7;
}

.passwordInput {
  font-size: 1vw;
  height: 8vh;
  width: 25vw;
  background: none;
  border : 0.25vh solid #7F7676;
  border-radius: 0.60vw;
  position: absolute;
  left: 5vw;
  top: calc(47.5vh);
  transition: 0.5s;
  padding-left: 1vw;  
  color: #7F7676;
}

.passwordInput:focus {
  outline: none;
  border: 2px solid #2D71F7;
}

#loginButton {
  font-size: 1.5vw;
  position: absolute;
  top: 62vh;
  left: 5.5vw;
  width: 25vw;
  background: linear-gradient(90deg, #83C1E6 0.16%, rgba(131, 193, 230, 0.84) 30.88%, rgba(107, 217, 235, 0.66) 66.81%, rgba(96, 229, 237, 0.50) 99.26%, rgba(96, 229, 237, 0.50) 99.26%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 0.60vw;
  height: 8vh;
  font-size: x-large;
  transition: 0.25s;
}

#loginButton:hover {
  cursor: pointer;
  backdrop-filter: brightness(90%);
  background: linear-gradient(90deg, #83C1E6 0.16%, rgba(131, 193, 230, 0.84) 30.88%, rgba(107, 217, 235, 0.66) 66.81%, rgba(96, 229, 237, 0.50) 99.26%, rgba(96, 229, 237, 0.50) 99.26%);
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border: none;
  border-radius: 0.60vw;
  height: 8vh;
}

#forgotPassword {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1vw;
  position: absolute;
  top: 72vh;
  left: 5.5vw;
  width: auto;
  height: 8vh;
  background: none;
  border: none;
  color: #2D71F7;
  transition: 0.25s;
}

#forgotPassword:hover {
  color: #2D71F7;
  text-decoration: underline;
}

#createAccount {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 1vw;
  position: absolute;
  top: 75vh;
  left: 5.5vw;
  width: auto;
  height: 8vh;
  background: none;
  border: none;
  color: #2D71F7;
  transition: 0.25s;
}

#createAccount:hover {
  color: #2D71F7;
  text-decoration: underline;
}