:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --bg-color: rgb(20, 20, 20);
  --text-color: white;

  --border-col-primary: rgba(255, 255, 255, 0.1);
  --box-col-primary: rgba(255, 255, 255, 0.02);
  --login-focus-col: rgb(100, 100, 100);

  --border-col-secondary: rgba(255, 255, 255, 0.15);
  --box-col-secondary: rgba(255, 255, 255, 0.05);
}
html,
body {
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
