#container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#login {
  display: flex;
  flex-direction: column;
  height: 65vh;
  border: 1px solid var(--border-col-primary);
  border-radius: 1.7vw;
  background-color: var(--box-col-primary);
  width: 23vw;
  padding-top: 1vh;
  align-items: center;
}

#login_inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--border-col-secondary);
  border-radius: 1.7vw;
  background-color: var(--box-col-secondary);
  width: 17vw;
  height: 43vh;
  margin-bottom: 4vh;
}

.login_input {
  display: block;
  width: 10vw;
  height: 3.5vh;
  margin-top: 0.5vh;
  border-radius: 0.7vh;
  border: 2px solid gray;
  padding-left: 0.5vw;
}

#login_button,
#github_login_button {
  width: 10vw;
  height: 3.5vh;
  border-radius: 1vh;
  border: 1px solid gray;
}

#login_button {
  margin-top: 3vh;
}

#login_button:hover,
#github_login_button:hover {
  cursor: pointer;
  filter: brightness(1.5);
}

#github_login_button {
  margin-top: 0.7vh;
}